<div class="container">
  <h1 class="mt-3">Requests</h1>
  <div data-requests-subscription-target="requestList">
    <% @bookmarks.uniq.each do |bookmark| %>
      <%= render "user_message", bookmark: bookmark %>
    </div>
  <% end %>
</div>
</div>
