<div class="container">
  <h1>New Requests <span data-requests-subscription-target="requestsIndex"><%= @bookmarks.unread_count_for(current_user) %></span></h1>
  <%= render "user_message", bookmarks: @bookmarks %>
</div>
