// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors
$bg-color: #F2F1EC;
$bg-secondary-color: #F7F7F7;
$text-color: #231F20;
$blue-1: #B1C7FF;
$blue-2: #7DA2FF;
$blue-3: #1229D0;
$blue-4: #0B134A;
