// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: rgba(54, 54, 54, 0.718);
$gray: #a1a1a1c1;

// Colors
$bg-color: #F2F1EC;
$bg-secondary-color: #F7F7F7;
$text-color: #231F20;
$blue-1: #8ed7f2;
$blue-2: #48b6de;
$blue-3: #162dde;
$blue-4: #0B134A;
$gradient-color-1: #5197EA;
$gradient-color-2: #284d77d2;
