<div class="footer border-top mt-3">
  <div class="container">
    <div class="row">
      <div class="col-2 flex-shrink-0 d-flex" style="text-align: center;">
        <%= image_tag("logo.png", class: "logo-image") %>
      </div>
      <div class="col-6 border-start border-end" >
        <div class="footer-text">
          <h3>SuiteFit find your best fit!</h3>
          <p>Copyright © 2023 all rights reserved</p>
        </div>
        <div class="icon-container-homepage">
          <i class="fab fa-facebook fa-lg"></i>
          <i class="fab fa-instagram fa-lg"></i>
          <i class="fab fa-line fa-lg"></i>
        </div>
      </div>
      <div class="col-4 text-center mt-3">
        <h3>About us</h3>
      </div>
    </div>
  </div>
</div>
