<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2 flex-shrink-0 d-flex" style="text-align: center;">
        <%= link_to "/" do %>
          <%= image_tag "suitefitlogo2_small.png", class:"logo-image mt-3"%>
        <% end %>
      </div>
      <div class="col-6 border-start border-end" >
        <div class="footer-text">
          <h3>SuiteFit find your best fit!</h3>
          <p>Copyright © 2023 all rights reserved</p>
          <div class="icon-container-homepage text-center">
            <i class="fab fa-facebook fa-lg"></i>
            <i class="fab fa-instagram fa-lg"></i>
            <i class="fab fa-line fa-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-4 text-center mt-3 ">
        <h3>About us</h3>
        <div class="">
          <div>
            <%= link_to "E-mail", root_path %> <i class="fa-solid fa-square-envelope fa-lg"></i>
          </div>
          <div>
            <%= link_to "Contact us", root_path %> <i class="fa-solid fa-phone fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
