<div class="row">
  <div class="column left" style="background-color:#aaa;">
    <h2>Suite fit logo</h2>
    <p>Here will be a cool logo</p>
  </div>
  <div class="column middle" style="background-color:#bbb;">
    <h2>Here will be a cool sentence </h2>
    <p>Copyright © 2023 all rights reserved</p>
  </div>
  <div class="column right" style="background-color:#ccc;">
    <h2>About us</h2>
    <p>We are the best!</p>
  </div>
</div>
