<nav class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid row align-items-center">
    <%# Sidebar button %>
    <div class="col-4 d-flex justify-content-start">
      <%= render "shared/sidebar" %>
    </div>
    <%# Logo in the middle %>
    <div class="col-4 d-flex justify-content-center">
      <%= link_to "/", class: "navbar-brand" do %>
        <h1 class="gradient-animation">Suite Fit</h1>
      <% end %>
    </div>
    <%# Column to make even spaces in the navbar %>
    <div class="col-4 d-flex"></div>
  </div>
</nav>
