<nav class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid row align-items-center">
    <%# Sidebar button %>
    <div class="col-6 px-0 d-flex justify-content-start">
      <%= render "shared/sidebar" %>
    </div>
    <%# Logo in the middle %>
    <div class="col-6 px-0 d-flex justify-content-start">
      <%= link_to "#", class: "navbar-brand" do %>
        <h1>Suite Fit</h1>
      <% end %>
    </div>
  </div>
</nav>
