<div class="banner">
  <div class="container">
    <h1>Suite Fit</strong></h1>
  <p>Fitting people with the confidence they need to change homes</p>
  <a class="btn btn-flat" href="#">Check your fit now!</a>
</div>
</div>
