<div class="container">
  <div class="row">
    <%# create individual cards here %>
    <div class="col-5 my-3 mx-2">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apartment name</h5>
          <p class="card-text">address</p>
          <p class="card-text">total_floorspace</p>
          <p class="card-text">price</p>
          <p class="card-text">type</p>
          <a href="#" class="btn btn-primary">View apartment</a>
        </div>
      </div>
    </div>
    <div class="col-5 my-3 mx-2">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apartment name</h5>
          <p class="card-text">address</p>
          <p class="card-text">total_floorspace</p>
          <p class="card-text">price</p>
          <p class="card-text">type</p>
          <a href="#" class="btn btn-primary">View apartment</a>
        </div>
      </div>
    </div>
  </div>
</div>
