<div class="container">
  <h1 class="my-2">Add an apartment</h1>
  <div class="row">
    <div class="canvas-container col-9" data-controller="apartment-canvas" data-apartment-canvas-floorplan-url-value=<%= image_url 'floorplan.jpg' %>>
      <button class="btn btn-secondary" data-apartment-canvas-target="drawButton" data-action="click->apartment-canvas#drawFloorplan">Start Drawing</button>
      <button class="btn btn-secondary d-none" data-apartment-canvas-target="saveButton" data-action="click->apartment-canvas#saveFloorplan">Save</button>
      <canvas id="new-canvas" class="border" style="width: 801px; height: 1001px;"
      data-apartment-canvas-target="canvas"></canvas>
    </div>
    <div  class="col-3"></div>
  </div>
</div>
