<div class="container">
  <h1 class="my-2">My Inventory</h1>
  <div class="row justify-content-center">
    <%# create individual cards here %>
    <%# use each.do %>
      <div class="card-product col-5 my-2 mx-2">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Item name</h2>
          <p>Item length</p>
          <p>Item width</p>
          <p>Item quantity</p>
        </div>
      </div>
      <%# delete once seeds are up %>
      <div class="card-product col-5 my-2 mx-2">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Item name</h2>
          <p>Item length</p>
          <p>Item width</p>
          <p>Item quantity</p>
        </div>
      </div>
    </div>
  </div>
