.outer-container-apt-show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 24px 0 24px 0;
}

.card-apt-show {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 16px 0 16px 0;
  padding: 16px
}

#qr {
  min-width: 178px;
  margin: 8px;
  padding: 8px

}

#fav-btn {
  border-radius: 4%;
  background-color: #ffffff00;
  position: absolute;
  padding: 8px;
  top: -12px;
  right: 40px;
  color: white;
  border-width: 0;
}

#fav-btn:hover {
  color: rgb(0, 0, 0);
}
