.outer-container-apt-show {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card-apt-show {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values to your preference */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin-bottom: 20px; /* Optional: Adds some spacing between cards */
}
