
.flashy-container-book {
  margin: auto;
}

.card-flashy-book {
  display: flex;
  align-items: center;
  margin: 70px 20px 20px 20px;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: linear-gradient(180deg, rgb(142, 215, 242), #48b6de);
  border-radius: 24px;
}
