// button on homepage banner
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue-3;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $blue-2;
  color: black;
}

// item button on fitting page
.items-button {
  opacity: .7;
}

.items-button:hover {
  opacity: 1;
  transition: .2;
  cursor: pointer;
}
