// Bookmarks Index cards
.card-bmk {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.card-bmk h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bmk p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bmk .card-bmk-img {
  padding-left: 0px;
}
