// Items Index cards
.card-product {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.413);
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.238);
  border-radius: 4px;
}

.card-product i {
  font-size: 50px;
  object-fit: cover;
  padding-top: 20px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Items pictures on index page (my inventory)
.image-item {
  object-fit: contain;
  width: 5rem;
  height: 5rem;
  padding:16px;
  mix-blend-mode: darken;
}

// Items cards on fitting page
#fit-item {
  width: 212px;
  height: 186px;
  border-radius: 7px;
  position: relative;
}

// Cards for items page

#fit-img {
  width: 250px;
  height: inherit;
  border-radius: 7px;
  position: relative;
  z-index: 1;
}

// Agency index page cards

.card-trip {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
}

.card-trip:hover {
  transform: scale(1.05);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: right;
  margin-bottom: 10px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: right;
  margin-bottom: 10px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  flex-direction: column;
}

.card-image-agency {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  margin-top: 14px;
}

.card-image-agency-index {
  width: 200px;
  height: auto;
  border-radius: 8px;

}

.card-image-agency:hover {
  transform: scale(1.1);
}

.button-agency {
  margin-bottom: 5px;
  margin-left:10px;
  border-radius: 10px;
}
