// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "apartments_show_page";
@import "card-bmk";
@import "footer";
@import "chat";
@import "message";
@import "side-menu";
@import "text-animation";
@import "text-gradient";


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-product {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-product {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-product {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-product {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-product {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
